/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Knewave);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700);
/* colors */
/* line 25, ../scss/yesterday.scss */
html {
  font-size: 62.5%;
}

/* line 29, ../scss/yesterday.scss */
body {
  font-size: 3.0rem;
  background: #0a1510;
  color: #1c0d10;
  font-family: Playfair Display, Georgia, serif;
}

/* line 35, ../scss/yesterday.scss */
#container {
  overflow: hidden;
}

/* line 38, ../scss/yesterday.scss */
h1 {
  font-family: Knewave;
  font-size: 45rem;
}

/* line 42, ../scss/yesterday.scss */
i {
  font-style: italic;
}

/* line 45, ../scss/yesterday.scss */
#title {
  -webkit-animation-name: fadeToGreen;
  animation-name: fadeToGreen;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* slides */
/* line 56, ../scss/yesterday.scss */
#container > div {
  width: 100%;
  position: relative;
}

/* line 60, ../scss/yesterday.scss */
.text {
  padding: 50px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 3.0rem;
  line-height: 1.75em;
}
/* line 66, ../scss/yesterday.scss */
.text .wrapper {
  width: 100%;
  max-width: 750px;
  margin: auto;
}
/* line 71, ../scss/yesterday.scss */
.text * + * {
  margin-top: 2em;
}

/* line 75, ../scss/yesterday.scss */
.center {
  display: table;
  padding: 75px 0;
}
/* line 78, ../scss/yesterday.scss */
.center .wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: 0 25%;
}

/* line 84, ../scss/yesterday.scss */
#splash {
  background: #1c0d10;
  min-height: 100%;
}

/* line 88, ../scss/yesterday.scss */
#description {
  background: #1c0d10;
  color: #37190e;
  -webkit-animation-name: greenToRed;
  animation-name: greenToRed;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
/* line 99, ../scss/yesterday.scss */
#description h2 {
  font-size: 6.0rem;
  line-height: 1.25em;
  text-align: center;
}
/* line 104, ../scss/yesterday.scss */
#description a, #description a:link, #description a:visited {
  color: #005d35;
}

/* line 108, ../scss/yesterday.scss */
#next {
  padding: 90px 0;
  background: #0a1510;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c0d10), color-stop(100%, #0a1510));
  background-image: -webkit-linear-gradient(#1c0d10, #0a1510 100%);
  background-image: -moz-linear-gradient(#1c0d10, #0a1510 100%);
  background-image: -o-linear-gradient(#1c0d10, #0a1510 100%);
  background-image: linear-gradient(#1c0d10, #0a1510 100%);
  color: #38000c;
  text-align: center;
  -webkit-animation-name: redToGreen;
  animation-name: redToGreen;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
/* line 122, ../scss/yesterday.scss */
#next h2 {
  font-size: 9.0rem;
}
/* line 125, ../scss/yesterday.scss */
#next h3 {
  font-size: 4.5rem;
}
/* line 128, ../scss/yesterday.scss */
#next h2 + p, #next p + h3 {
  margin-top: 2em;
}

/* line 132, ../scss/yesterday.scss */
#archive {
  background: #0a1510;
  -webkit-animation-name: greenToRed;
  animation-name: greenToRed;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
/* line 142, ../scss/yesterday.scss */
#archive h2 {
  font-size: 9.0rem;
  text-align: center;
  position: relative;
  z-index: 20;
}
/* line 148, ../scss/yesterday.scss */
#archive ul {
  position: relative;
}
/* line 151, ../scss/yesterday.scss */
#archive ul:after {
  content: '';
  width: 3px;
  background: #172431;
  display: block;
  position: absolute;
  top: -30px;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
  z-index: 1;
}
/* line 163, ../scss/yesterday.scss */
#archive li {
  position: relative;
  z-index: 10;
  background: #0a1510;
  text-align: center;
}
/* line 169, ../scss/yesterday.scss */
#archive li + li {
  margin-top: 3em;
}
/* line 172, ../scss/yesterday.scss */
#archive .date + p {
  margin-top: 0.75em;
}
/* line 175, ../scss/yesterday.scss */
#archive a, #archive a:link, #archive a:visited, #archive a:active, #archive a:hover {
  color: #b80027;
  border-image: url("../../img/wavy-border.png") 0 13 7 6 repeat;
  border-bottom-width: 6px;
  text-decoration: none;
  -webkit-animation-name: redToGreen;
  animation-name: redToGreen;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
/* line 189, ../scss/yesterday.scss */
#archive .date {
  font-size: 2.5rem;
  line-height: 1.25em;
  display: inline-block;
  border: 12px solid #172431;
  background: #172431;
  position: relative;
}

/* Decorations */
/* line 200, ../scss/yesterday.scss */
.circle {
  border-radius: 100%;
  -moz-border-radius: 100%;
  border: 1px transparent solid;
  position: absolute;
  z-index: 100;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
  cursor: pointer;
}

/* line 210, ../scss/yesterday.scss */
.circle.active {
  transform: scale(0);
  -webkit-transform: scale(0);
}

/* line 214, ../scss/yesterday.scss */
#splash .circle, #description .circle {
  background: #1c0d10;
}

/* line 217, ../scss/yesterday.scss */
#archive .circle {
  background: #0a1510;
}

/* Contrast animations */
@keyframes fadeToGreen {
  /* line 223, ../scss/yesterday.scss */
  0% {
    color: #0a1510;
  }

  /* line 226, ../scss/yesterday.scss */
  25% {
    color: #0a1510;
  }

  /* line 229, ../scss/yesterday.scss */
  75% {
    color: #005d35;
  }

  /* line 232, ../scss/yesterday.scss */
  100% {
    color: #0a1510;
  }
}

@-webkit-keyframes fadeToGreen {
  /* line 237, ../scss/yesterday.scss */
  0% {
    color: #0a1510;
  }

  /* line 240, ../scss/yesterday.scss */
  25% {
    color: #0a1510;
  }

  /* line 243, ../scss/yesterday.scss */
  75% {
    color: #005d35;
  }

  /* line 246, ../scss/yesterday.scss */
  100% {
    color: #0a1510;
  }
}

@keyframes greenToRed {
  /* line 252, ../scss/yesterday.scss */
  0% {
    color: #005d35;
  }

  /* line 256, ../scss/yesterday.scss */
  25% {
    color: #005d35;
  }

  /* line 260, ../scss/yesterday.scss */
  75% {
    color: #b80027;
  }

  /* line 264, ../scss/yesterday.scss */
  100% {
    color: #b80027;
  }
}

@-webkit-keyframes greenToRed {
  /* line 270, ../scss/yesterday.scss */
  0% {
    color: #005d35;
  }

  /* line 274, ../scss/yesterday.scss */
  25% {
    color: #005d35;
  }

  /* line 278, ../scss/yesterday.scss */
  75% {
    color: #b80027;
  }

  /* line 282, ../scss/yesterday.scss */
  100% {
    color: #b80027;
  }
}

@keyframes redToGreen {
  /* line 287, ../scss/yesterday.scss */
  0% {
    color: #b80027;
  }

  /* line 291, ../scss/yesterday.scss */
  25% {
    color: #b80027;
  }

  /* line 295, ../scss/yesterday.scss */
  75% {
    color: #005d35;
  }

  /* line 299, ../scss/yesterday.scss */
  100% {
    color: #005d35;
  }
}

@-webkit-keyframes redToGreen {
  /* line 305, ../scss/yesterday.scss */
  0% {
    color: #b80027;
  }

  /* line 309, ../scss/yesterday.scss */
  25% {
    color: #b80027;
  }

  /* line 313, ../scss/yesterday.scss */
  75% {
    color: #005d35;
  }

  /* line 317, ../scss/yesterday.scss */
  100% {
    color: #005d35;
  }
}

@keyframes fadeOutFromGreen {
  /* line 322, ../scss/yesterday.scss */
  0% {
    background: #0a1510;
  }

  /* line 325, ../scss/yesterday.scss */
  75% {
    background: #0a1510;
  }

  /* line 328, ../scss/yesterday.scss */
  100% {
    background: fadeOut(#0a1510, 100%);
  }
}

@-webkit-keyframes fadeOutFromGreen {
  /* line 333, ../scss/yesterday.scss */
  0% {
    background: #0a1510;
  }

  /* line 336, ../scss/yesterday.scss */
  75% {
    background: #0a1510;
  }

  /* line 339, ../scss/yesterday.scss */
  100% {
    background: fadeOut(#0a1510, 100%);
  }
}

@keyframes fadeOutFromRed {
  /* line 344, ../scss/yesterday.scss */
  0% {
    background: #1c0d10;
  }

  /* line 347, ../scss/yesterday.scss */
  75% {
    background: #1c0d10;
  }

  /* line 350, ../scss/yesterday.scss */
  100% {
    background: fadeOut(#1c0d10, 100%);
  }
}

@-webkit-keyframes fadeOutFromRed {
  /* line 355, ../scss/yesterday.scss */
  0% {
    background: #1c0d10;
  }

  /* line 358, ../scss/yesterday.scss */
  75% {
    background: #1c0d10;
  }

  /* line 361, ../scss/yesterday.scss */
  100% {
    background: fadeOut(#1c0d10, 100%);
  }
}
