@import "compass";

/* Fonts */


/* Colors */
$coldGray: rgb(230, 230, 245);
$colderGray: rgb(140, 140, 175);
$coolGray: rgb(215, 215, 230);
$warmGray: rgb(215, 210, 210);
$warmerGray: rgb(140, 115, 115);

html{
  font-size: 62.5%;
}
body{
  background: $warmGray;
  position: relative;
  color: darken($warmerGray, 15%);
}
html, body{
  height: 100%;
}
$borderWidth: 20px;
$whiteRule: 2px solid white;
.border{
  background: $warmGray;
  position: fixed;
}
.border.top{
  width: 100%;
  height: $borderWidth;
  top: 0;
  z-index: 999;
  border-bottom: $whiteRule;
}
.border.right{
  width: $borderWidth;
  height: 100%;
  right: 0;
  z-index: 998;
  border-left: $whiteRule;
}
.border.bottom{
  width: 100%;
  height: $borderWidth;
  bottom: 0;
  z-index: 999;
  border-top: $whiteRule;
}
.border.left{
  width: $borderWidth;
  height: 100%;
  left: 0;
  z-index: 998;
  border-right: $whiteRule;
}
#container>section, header{
  position: relative;
  z-index: 10;
}
#background{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  video{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    opacity: 0.2;
  }
}

/* General Rules */
#container{
  width: 100%;
  padding: $borderWidth;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
h2{
  font-size: 4.0rem;
  font-style: italic;
}
a, a:link{
  color: white;
}
a:visited, a:active{
  color: $warmerGray;
}


/* Header */
header{
 width: 100%;
 text-align: center;
 border-bottom: $whiteRule;
 padding-bottom: 15px;
 transform: rotate(-2deg);
 margin-bottom: 3%;
 #title{
   color: $coldGray;
   border-bottom: $whiteRule;
 }
 #title span{
   animation-name: shine;
   -webkit-animation-name: shine;
   animation-duration: 15s;
   -webkit-animation-duration: 15s;
   animation-iteration-count: infinite;
   -webkit-animation-iteration-count: infinite;
 }
 /* .char1 --> .char17 */
 .char1{
   animation-delay: 0.29s;
   -webkit-animation-delay: 0.29s;
 }
 .char2{
   animation-delay: 0.58s;
   -webkit-animation-delay: 0.58s;
 }
 .char3{
   animation-delay: 0.88s;
   -webkit-animation-delay: 0.88s;
 }
 .char4{
   animation-delay: 1.17s;
   -webkit-animation-delay: 1.17s;
 }
 .char5{
   animation-delay: 1.47s;
   -webkit-animation-delay: 1.47s;
 }
 .char6{
   animation-delay: 1.76s;
   -webkit-animation-delay: 1.76s;
 }
 .char7{
   animation-delay: 2.05s;
   -webkit-animation-delay: 2.05s;
 }
 .char8{
   animation-delay: 2.35s;
   -webkit-animation-delay: 2.35s;
 }
 .char9{
   animation-delay: 2.64s;
   -webkit-animation-delay: 2.64s;
 }
 .char10{
   animation-delay: 2.94s;
   -webkit-animation-delay: 2.94s;
 }
 .char11{
   animation-delay: 3.23s;
   -webkit-animation-delay: 3.23s;
 }
 .char12{
   animation-delay: 3.52s;
   -webkit-animation-delay: 3.52s;
 }
 .char13{
   animation-delay: 3.82s;
   -webkit-animation-delay: 3.82s;
 }
 .char14{
   animation-delay: 4.11s;
   -webkit-animation-delay: 4.11s;
 }
 .char15{
   animation-delay: 4.41s;
   -webkit-animation-delay: 4.41s;
 }
 .char16{
   animation-delay: 4.7s;
   -webkit-animation-delay: 4.7s;
 }
 .char17{
   animation-delay: 5s;
   -webkit-animation-delay: 5s;
 }
 h3{ //address
   margin-top: 10px;
   border-bottom: $whiteRule;
   padding-bottom: 10px;
   transform: rotate(1deg);
   font-size: 4.0rem;
   color: $warmerGray;
 }
}
/* Program */
#program{
  padding: 0 20px;
  h2{
    text-align: center;
    cursor: pointer;
  }
}
.calendar{
  margin-top: 25px;
}
.calendar li{
  width: calc(25% - 25px);
  min-width: 250px;
  margin: 0 25px 25px 0;
  float: left;
  font-size: 1.8rem;
  line-height: 1.25em;
  position: relative;
  .details{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
  }
  .date{
    float: left;
  }
  .time{
    float: right;
  }
  .date, .time{
    font-weight: bold;
  }
  .details:after{
    content: '';
    display: block;
    clear: both;
    visibility: none;
  }
  h3{ //video title
    margin-top: 10px;
    font-size: 2.5rem;
    font-weight: bold;
  }
  h4{ //artist
    margin-top: 5px;
    font-size: 2.0rem;
    font-weight: bold;
  }
  p{
    margin-top: 5px;
  }
  
  .imgs{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      margin: auto;
    }
    .scrollWrapper{
      position: relative;
    }
  }
}
.calendar li:before{
  content: '';
  width: 100%;
  height: 1px;  
  display: block;
  position: absolute;
  top: -15px;
  left: 0px;
  transform: rotate(2deg);
  background: white;
}
.calendar li:after{
  content: '';
  width: 1px;
  height: calc(100% - 50px);
  display: block;
  position: absolute;
  top: 38px;
  right: -15px;
  background: white;
  transform: rotate(-2deg);
}
.calendar:after{
  content: '';
  display: block;
  visibility: none;
  clear: both;
}

/* archive stuff */
#archive{
  background: fade-out($coolGray, .25);
  border-top: $whiteRule;
  padding-top: 12px;
  h2{
    border-top: $whiteRule;
    transform: rotate(1deg);
    text-align: center;
  }
  ul{
    padding: 0 20px;
  }
}

/* about / considerations */
#about{
//  background: $colderGray;
  border-top: $whiteRule;
  color: $warmerGray;
  font-size: 2.5rem;
  text-shadow: 1px 3px 7px white;
  h2{
    border-top: $whiteRule;
    padding-top: 15px;
    margin-bottom: 3%;
    transform: rotate(-2deg); 
    color: $warmerGray;
  }
  h3{
    padding: 0 20px;
    font-size: 3.0rem;
    font-weight: bold;
  }
  ul{
    padding: 0 43px;
  }
  ul li{
    list-style: disc;
  }
}


/* Animations */
@keyframes shine{
  0% {
    color: $coldGray;
  }
  40% {
    color: $coldGray; 
  }
  50% {
    color: white;
  }
  60% {
    color: $coldGray; 
  }
  100% {
    color: $coldGray; 
  }
}
@-webkit-keyframes shine{
  0% {
    color: $coldGray;
  }
  40% {
    color: $coldGray; 
  }
  50% {
    color: white;
  }
  60% {
    color: $coldGray; 
  }
  100% {
    color: $coldGray; 
  }
}

.filler{
  height: 2000px;
}